{% extends "main/base.html" %}
{% block content %}
<div class="container">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Heads up!</strong> Best check the details you entered
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Well done!</strong> {{ success }} successfully added
        </div>
    {% endif %}

<form method="post" action="{% url 'create_teacher.views.create_teacher' %}">
    <div class="form-group">
        {% csrf_token %}
        {% if form.first_name.errors %}
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ form.first_name.errors|striptags }}</strong>
        </div>
        {% endif%}
        {{ form.first_name.label_tag }}
        <input required="required" class="form-control stop-space" id="focusedInput" type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" placeholder="enter first name..">
    </div>
    <div class="form-group">
        {% if form.last_name.errors %}
        <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ form.last_name.errors|striptags }}</strong>
        </div>
        {% endif%}
        {{ form.last_name.label_tag }}
        <input required="required" class="form-control stop-space" type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" placeholder="enter last name..">
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox" id="{{ form.is_staff.id_for_label }}" name="{{ form.is_staff.html_name }}"> has admin rights?
        </label>
    </div>

<input class="btn btn-default" type="submit" value="create" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<script type="text/javascript">document.getElementById("focusedInput").focus();</script>
<script type="text/javascript">
$(".stop-space").on({
  keydown: function(e) {
    if (e.which === 32)
      return false;
  },
  change: function() {
    this.value = this.value.replace(/\s/g, "");
  }
});
</script>
</div>
{% endblock %}